.task_link{
  text-decoration: none;
  color:rgb(37, 13, 80);
}
.high_priority{
  font-weight: bold;
  color:rgb(236, 149, 149);
}
.task_tag{
  padding: 0 10px;
  margin: 0 1px;
  background-color: rebeccapurple;
  color: white;
  font-size: 0.7em;
  border-radius: 5px;
}