.editable{
  height: 50px;
}
.editable-input{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  padding: 0 15px;
  border: none;
  color: lightgray;
  outline: none;
  background: transparent;    
  font-weight: lighter;    
}