<div class="container">
  <br>
  <div *ngIf="this.task" class="card">
    <div class="editable">
      <h5 
        class="card-header" 
        *ngIf="!this.editMode"
        (click)="enableEditMode()">{{task.name}}</h5>
      <input *ngIf="this.editMode"
        type="text"
        id="editField"
        #edit
        class="editable-input"
        [(ngModel)]="task.name"
        (blur)="onBlur()">
    </div>
    <div class="card-body">
      <h5 class="card-title">Special info</h5>
      <p class="card-text">{{task.description}}.</p>
    </div>
  </div>
</div>
